/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Firstname]
      ,[Lastname]
      ,[EmailId]
      ,[Contact]
      ,[Address]
      ,[City]
      ,[Password]
      ,[Status]
      ,[ActivationCode]
  FROM [register].[dbo].[Register]