/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Firstname]
      ,[Lastname]
      ,[Emailid]
      ,[Contact]
      ,[Address]
      ,[City]
      ,[Password]
  FROM [register].[dbo].[Registertb]